.Upside
  .Upside__header
    %img{ src: "assets/sky.jpg", alt: "表示できません", class: "header-img" }
  .Upside__header__login
    .Upside__signup
      =link_to "#" do
        %i.fas.fa-user-plus Sign Up
    .Upside__login
      =link_to "#" do
        %i.fas.fa-sign-in-alt Sign In
  .Upside__search
    .search-form
      %input.form-text{:placeholder => "どこに預けますか？", :type => "search"}
      .icn
        .calender-icn
          =link_to "#" do
            %i.far.fa-calendar-alt
    %button.search-btn{:type => 'submit'}
      .letter
        SEARCH
