* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.Upside {
  height: 600px;
  width: 100%;
  background-color: white;
  &__header {
    display: flex;
    height: 300px;
    width: 100%;
    background-color: red;
    .header-img {
      height: 100%;
      width: 100vw;
    }
  }
  .Upside__header__login {
    display: flex;
    height: 60px;
    justify-content: space-around;
    position: relative;
    a {
      font-size: 20px;
      font-weight: bold;
    }
    .Upside__signup {
      a {
        color: black;
        border: 4px solid;
        border-color: black;
        border-radius: 8px;
        padding: 10px;
        position: absolute;
        top: 10px;
      }
    }
    .Upside__login {
      a {
        color: black;
        border: 4px solid;
        border-color: black;
        border-radius: 8px;
        padding: 10px;
        position: absolute;
        top: 10px;
      }
    }
  }
  &__search {
    .search-form {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .form-text {
        width: 80%;
        font-size: 20px;
        border: 2px solid;
        border-color: black;
        border-radius: 4px;
      }
      .icn {
        position: relative;
        .calender-icn {
          a {
            position: absolute;
            color: red;
            padding: 0px 10px;
            width: 40px;
            font-size: 20px;
            border: 2px solid;
            border-color: black;
            background-color: white;
            border-radius: 4px;
          }
        }
      }
    }
    .search-btn {
      font-size: 30px;
      margin-left: 90px;
      width: 85%;
      height: 45px;
      background-color: lightblue;
      color: white;
      border-radius: 4px;
      text-align: center;
    }
  }
}
